<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoodTruck</key>
	<dict>
		<key>AnchorWorm</key>
		<integer>10</integer>
		<key>BaseWorm</key>
		<integer>60</integer>
		<key>GravityWorm</key>
		<integer>20</integer>
		<key>SheildWorm</key>
		<integer>10</integer>
	</dict>
	<key>Scene</key>
	<string>AngryWorm</string>
	<key>InitialMessage</key>
	<string>Goal: 55</string>
	<key>LengthObjective</key>
	<integer>55</integer>
	<key>SecondsAllowed</key>
	<integer>60</integer>
</dict>
</plist>
