<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoodTruck</key>
	<dict>
		<key>GravityWorm</key>
		<integer>50</integer>
		<key>BaseWorm</key>
		<integer>50</integer>
	</dict>
	<key>Scene</key>
	<string>Level001</string>
	<key>InitialMessage</key>
	<string>Goal:  75</string>
	<key>LengthObjective</key>
	<integer>75</integer>
	<key>SecondsAllowed</key>
	<integer>60</integer>
</dict>
</plist>
